*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: red;
    font-size: 50px;
    text-align: center;
}
.textCenter{
    text-align: center;
}
/* div h2{
    text-align: center;
} */
.headingOnePara{
    margin: 50px 150px ;
}
.cardsRow{
    margin-left: 50px;
}
.imageCard{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 30px 15px;
}
.btn{
    /* border-style: dashed;
    border-color: brown;
    border-width: 4px; */
    border: 1px solid black;
    background-color: white;
    padding: 7px 11px;
}
.cardFeatured{
    width:20%;
    float: left;
    margin-left: 4%;
}
.cardFeatured p{
    text-align: center;
    margin: 0;
}
.contactInfo{
    background-image: url("https://www.kingarthurbaking.com/sites/default/files/styles/featured_image/public/2020-04/classic-birthday-cake-alt.jpg?itok=e8pHbyu8");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 70px;
    padding-left: 40px;
}
.address1{
    background-color: white;
    width: 400px;
    padding: 20px;
    top: 60px;
}

.navBar{
     background-color: beige;
     height: 90px;
}

.mainnavbar{
    list-style-type: none;
    margin-left: 20%;
    display: inline-block;
    width: 60%;
}
.navItem{
    display: inline-block;
    margin: 20px 30px;
}
.navList:link{
     color: black;
     text-decoration: none;
}
.navList:hover{
    /* text-decoration: solid; */
    border-bottom: 2px solid black;

}
.active{
    font-weight: bolder;
}
a.navList.visited{
    color: black;
}
a.navList:active{
    font-weight: bold;
}

.iconInNavbar{
    font-size: x-large;
    padding: 30px 40px;
}
